<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="big-space"></div>
        </div>
    </div>
</header>

    <!-- About Section -->
    <div class="brick">
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Funda Nathi</h2>
                    <h2 class="section-subheading text-muted">Features</h2>
                    <div class="big-space"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/courses.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">Courses at your doorstep</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">On Funda Nathi, students can log in and access all the resources on the platform. Each course has videos and documents that are handpicked to enhance the learning experience of our students. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/chat.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">Live chat with our tutors</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Students can interact with tutors or admins through our live chat forum that allows private messages to be sent to single or multiple recipients. This allows students to engage with other students, form peer study groups, and even send individual questions to tutors. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/data.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                               
                                <h4 class="subheading">Unlimited data to access Funda Nathi</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> We are partnering with SmartOne Solutions, a telecommunications company based in Khayelitsha, to offer unlimited data to all students who subscribe to the Funda Nathi platform. We have the students' best interests at heart, and this unique opportunity allows students to stop worrying about budgeting data to access the study materials on our platform.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/payment.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                        
                                <h4 class="subheading">Cheap and convenient payment solution</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We offer various payment options ranging from monthly packages to 3 months, 6 months and annual options to give students the freedom to choose the option that is most convenient for them. Payment can be done online or in person, and a pre-paying option is also available for students who wish to request one-on-one tutoring sessions with our handpicked tutors.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <br>
                            <h4>Sign Up!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</div>