<p>
	<strong>document.title</strong>
	<%= document.description%>
</p>

<p>
	<% if can_edit_doc? %>
	<%= link_to 'Edit', edit_course_document_path(document.course, document) %>
	<%end%>

	<% if can_delete_doc? %>
		<%= link_to 'Delete', [document.course, document],
		method: :delete,
		data: {confirm: 'Are you sure you want to delete this document?'} 
		%>
	<%end%>
</p>
<%end%>