<h1>Courses | All</h1>

<% if can_create? %>
	<strong><%= link_to 'New Course', new_course_path %></strong>
<% end %>
	
</div>
<ul>
	<% @courses.each do |course| %>
	  <li>
	    <%= link_to course.name, course_path(course) %> 
	  </li>
	 <% end %>
 </ul>	



