/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap.min
 *= require agency
 *= require font-awesome
 *= require tabmenu
 *= require_tree .
 *= require_self
 */

 .styled-select {
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
 }
 .small-space {
 	margin: 30px;
 }
 .space {
 	margin: 50px;
 }
 .big-space {
 	margin: 80px;
 }
 h3.course {
 	font-family: "Roboto Slab", serif;
 }


.alert-info, .alert-success, .alert-warning, .alert-error, .alert-validation {
border: 1px solid;
margin: 10px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
border-radius: 10%;
}
.alert-info {
color: #00529B;
background-color: #BDE5F8;
background-image: url(‘info.png’);
}
.alert-success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url(‘success.png’);
}
.alert-warning {
color: #D8000C;
background-color: #FFBABA;
background-image: url(‘error.png’);
}
.alert-error {
color: #9F6000;
background-color: #FEEFB3;
background-image: url(‘warning.png’);
}
.alert-validation {
color: #D63301;
background-color: #FFCCBA;
background-image: url(‘validation.png’);
}